<!DOCTYPE html>



<body>
    <form action="#" method="POST">
        <div id="mainchat">
            <div class="Ans">Woof woof! Hello there, I'm Jack. How can I assist you today?</div>
        </div>
        <div id="insert">
            Chat:<input type="text" name="Chat" id="chat" />
            <button id="enter">Enter</button>
        </div>
    </form>
    <button id="Luna">Luna</button>
    <button id="Jack">Jack</button>
    <button id="Bob">Bob</button>
    <button id="checkin">Checkin!</button>
</body>
