<!DOCTYPE html>
{% extends "layout.html" %}

{% block body_class %}
  class="chat-page"
{% endblock %}

{% block content %}
<div class="chat-container">
<!--chat page left part-->
<div class="chat-left">
    <div class="chat-left-header">
        <div class="app-logo">
                <img src="static/images/dog.png" alt="logo" class="img-fluid">
        </div>
        <h1>Doggie Chat</h1>
    </div>
</div>
<!--chat page left part end-->
<!--chat page middle part-->
<div class="chat-middle">

</div>
<!-- chat page middle part end-->
<!--chat page right part-->
<div class="chat-right">
</div>
<!-- chat page right part end-->


</div>
{% endblock content %}


<body>
    <form action="#" method="POST">
        <div id="mainchat">
            <div class="Ans">Woof woof! Hello there, I'm Jack. How can I assist you today?</div>
        </div>
        <div id="insert">
            Chat:<input type="text" name="Chat" id="chat" />
            <button id="enter">Enter</button>
        </div>
    </form>
    <button id="Luna">Luna</button>
    <button id="Jack">Jack</button>
    <button id="Bob">Bob</button>
    <button id="checkin">Checkin!</button>
</body>
