{% extends "layout.html" %}

{% block body_class %}
  class="history-page"
{% endblock %}

{% block content %}
    <div class="history-container">
        <div class="search-input">
            <input type="date" id="date-input" value="{{ today }}">
            <select id="dogname">
                <option value="All">All</option>
                <option value="Jack">Jack</option>
                <option value="Luna">Luna</option>
                <option value="Bob">Bob</option>
                <option value="Bob">Ruby</option>
                <option value="Bob">Rosie</option>
                <option value="Bob">Zeus</option>
            </select>
            <button id="Search">Search</button>
        </div>
        <div id="search-result">
            <img id="dog-gif" src="static/images/dog-cute.gif" alt="A GIF animation">
            <img id="history-note" src="static/images/history_note.jpeg" alt="A GIF animation">
        </div>
    </div>

{% endblock content %}
