{% extends "layout.html" %}

{% block body_class %}
  class="page-1"
{% endblock %}

{% block content %}
<div class="row align-items-center" id="home-container">
  <!--left part of the main container-->
  <div class="col-md-6" id="welcome">
    <h1 class="intro">DOGGIE CHAT <br>
      <span class="typing"></span>
    </h1>
    <p>Doggie Chat is an innovative chat application that lets you talk to dogs like they're your best friend. Whether you're feeling lonely, bored, or just need someone to talk to, Doggie Chat is the <span class="larger-text">perfect companion</span>.</p>
    <p>With a range of different dogs to choose from, each with their <span class="larger-text">unique personality and characteristics</span>, you'll feel like you're chatting with a real furry friend. Whether you're looking for comfort, entertainment, or just some canine company, Doggie Chat is the ultimate solution. </p>
    <p>So why wait? <span class="larger-text">Log in Doggie Chat today</span> and start chatting with your new best friend!</p>
    
   
    <a href="chat" class="btn btn-md" id="start-chat" onmousemove="mOver(this)" onmouseout="mOut(this)">Let's chat!</a>
  
  </div>
  <!--right part of the main container-->
<div class="col-md-6">
  <img src="static/images/dog.png" alt="dog" id="dog-img" onload="toggleAnimation()">
</div>
</div>


<!--Typing js-->
<script src="{{ url_for('static',filename='typing.js') }}"></script>
{% endblock content %}
