{% extends "layout.html" %}

{% block body_class %}
  class="reset-page"
{% endblock %}

{% block content %}

<div class="reset-part">
  <h1 class="reset-title"><strong>RESET PASSWORD</strong></h1>
<div>
    <!--reset form-->
    <form action="#" method="POST">
      <!--username block-->
      <div id="username" class="reset-block">
        <label class="control-label" for="reset-username">Username</label>
        <i class="icon bi bi-person-fill"></i>
        <input class="form-control" type="text" name="username" id="reset-username" placeholder="Please enter your username" required><br>
      </div>
      <!--username block end-->
      <!--new password block-->
      <div id="newpassword" class="reset-block">
        <label class="control-label " for="reset-password">Password</label>
        <input class="form-control" type="password" name="pwd" id="reset-password" placeholder="Please provide your new password with at least 7 characters" required><br>
        <i class="icon bi bi-lock-fill"></i>
      </div>
      <!--new password block end-->
      <!--confirm password block-->
      <div id="confirm-password" class="reset-block">
        <label class="control-label " for="confirm-reset-password">Confirm Password</label>
        <input class="form-control" type="password" name="repwd" id="confirm-reset-password" placeholder="Please confirm your password" required onblur="checkPasswords('reset')"><br>
        <i class="icon bi bi-file-check-fill"></i>
        <span id="reset-password-message" class="password-message"></span>
      </div>
      <!--confirm password block end-->
      <div id="email" class="reset-block">
        <label class="control-label " for="reset-email">Email</label>
        <input class="form-control" type="email" name="email" id="reset-email" placeholder="Please enter your registered email" required><br>
        <i class="icon bi bi-envelope-fill"></i>
      </div>
      <!--email block end-->
      <!--verify block-->
      <div id="verify" class="reset-block verify-block row">
        <button id="captcha-btnr" type="button" onclick="clickVerify('reset')">Verify!</button>
        <div id="verify-wrap">
        <label class="control-label " for="reset-varify">Verification code:</label>
        <input class="form-control" type="text" name="key" id="reset-varify"><br>
        </div>
        <span id="reset-verify-message" class="verify-message"></span>
      </div>
    <!--verify block end-->
      <!--submit block-->
      <div>
        <input type="submit" value="Reset Password">
      </div>
       <!--submit block end-->
    </form>
    <!--reset form end-->
  </div>
  </div>


{% endblock content %}