/* The layout.html file 
---------------------------------------
1. Basic setting
2. Header
3. Main
4. Footer
5. Mobile setting 
*/

/* 1. Basic setting */
body {
  font-family: verdana, sans-serif;
}

/* 2. Header */
.customer-header {
  background: linear-gradient(to right, #66bb48 0%, #d8e67c 100%);
  top: 0;
  width: 100%;
  position: fixed; /* fix the header */
  z-index: 100; /* make sure the header is on top of the background image */
}

.logo {
  padding: 10px 10px 0px 0px;
}

.logo img {
  padding-left: 20px;
  height: 75px;
  transition: all 0.3s;
}

.logo a:hover img {
  opacity: 0.8;
  transform: scale(0.9);
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 50px;
}

.navbar-nav .nav-link:hover {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.navbar-toggler {
  border: none;
}

.login-signup .button {
  background-color: #76cefd;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 25px;
  width: 120px;
  font-weight: bold;
}

.login-signup .button:hover {
  background-color: #1e88e5;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.login-signup .button:active {
  transform: translateY(0);
  box-shadow: none;
}

#Welcome-msg {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 50px;
}

#Welcome-msg #username {
  color: #1e88e5;
  text-transform: uppercase;
}

/* 3. Main */
.main-container {
  min-height: calc(
    100vh - 110px
  ); /* set the minimum height to the container, minus the header and footer height */
  width: 100%; /* set the width of the container */
  padding-top: 100px; /* Add padding-top equal to the height of the header to prevent content from being hidden */
  flex-grow: 1; /* make the main-container grow to take up all available space */
  margin: 0 30px; /* set 12px margin on the left and right sides */
}

/* 4. Footer */
.footer {
  background: linear-gradient(to right, #66bb48 0%, #d8e67c 100%);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0px;
  font-size: small;
  z-index: 1000;
}

/* 5. Mobile setting */
/*--responsive--*/
@media (max-width: 820px) {
  .main-container {
    padding-top: 150px; /* Add some top padding to avoid content overlay */
  }

  .customer-header {
    padding: 0 10px; /* Reduce padding on small screens */
    width: 100%;
  }

  .login-signup .button {
    font-size: 14px; /* Reduce font size on small screens */
    padding: 8px 16px; /* Reduce padding on small screens */
    margin-top: 0px; /* Reduce margin on small screens */
  }

}

@media (max-width: 680px) {
  .customer-header {
    padding: 0 10px; /* Reduce padding on small screens */
    width: 100%;
  }

  .login-signup .button {
    font-size: 14px; /* Reduce font size on small screens */
    padding: 8px 16px; /* Reduce padding on small screens */
    margin-top: 5px; /* Reduce margin on small screens */
  }

  .main-container {
    padding-top: 100px; /* Add some top padding to avoid content overlay */
    margin: 0px;
    width: 100%;
    height: 100%;
  }

  /* Add new CSS to make header show in a row */
  .customer-header .row {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .customer-header .col-md-3 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .customer-header .col-md-5 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .customer-header .col-md-4 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0px;
  }
}
/*--responsive end--*/

/* The index.html file 
---------------------------------------
1. Basic setting
2. Welcome part
3. Dog image part
4. Mobile setting 
*/

/* 1. Basic setting */
.page-1 {
  background-color: #ffffff;
  margin-top: 10px;
}

#home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 10px;
  width: 100%;
}

/* 2. Welcome part*/
/* Style the welcome div */
#welcome {
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

/* Style the welcome h1 */
#welcome h1 {
  font-size: 35px;
  font-weight: bold;
  color: #5c4536;
  margin-bottom: 60px;
  text-shadow: 1px 1px 3px rgba(5, 5, 5, 0.1);
}

.intro .typing {
  font-size: 30px;
  letter-spacing: 2px;
  height: auto;
  position: absolute;
  color: #775555;
}

/* Style the welcome paragraph */
#welcome p {
  font-size: 16px;
  margin-top: 10px;
  text-align: justify;
}

#welcome p:first-of-type {
  color: #a648bb;
}

#welcome p:nth-of-type(2) {
  color: #6048da;
}

#welcome p:nth-of-type(3) {
  color: #8452e7;
}

#welcome .larger-text {
  font-size: 20px;
}

/* Style the welcome button */
#start-chat {
  margin-top: 30px;
  color: white;
  width: 200px;
  background: #76cefd;
  border: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#start-chat:hover {
  background: #1e88e5;
  box-shadow: 0px 0px 10px #5b72e6;
}

/* 3. Dog image part*/
#dog-img {
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 50px;
  width: 65%;
}

#dog-img.animated {
  animation: jumpAndWag 3s;
  animation-iteration-count: 2;
}

@keyframes jumpAndWag {
  0%,
  100% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(-30px) rotate(-5deg);
  }
  50% {
    transform: translateY(0) rotate(5deg);
  }
  75% {
    transform: translateY(-30px) rotate(0);
  }
}

/* 4. Mobile setting */
/*--responsive--*/
@media (max-width: 680px) {
  .page-1 {
    margin-top: 0px;
  }

  #home-container {
    margin-top: 0px;
  }

  #welcome {
    margin: 10px;
    width: 100%;
  }

  #welcome h1 {
    font-size: 24px;
    margin-top: 50px;
    height: 80px;
    margin-bottom: 0px;
  }

  .intro .typing {
    font-size: 20px;
    height: auto;
  }

  #welcome p {
    font-size: 14px;
  }

  #welcome .larger-text {
    font-size: 18px; /* adjust the font size as needed */
  }

  #dog-img {
    margin-bottom: 80px;
  }
}
/*--responsive end--*/

/*===================================*/
/* The login.html file,  register.html file, and reset.html file
---------------------------------------
1. Basic setting
2. Login /  register / reset part 
3. Mobile setting 
*/

/* 1. Basic setting*/
.login-page,
.register-page,
.reset-page {
  background-image: url(images/dog_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* 2. Login /  register / reset part */
.login-part,
.register-part,
.reset-part {
  width: 600px;
  background-color: #ffffff;
  padding: 40px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.login-title,
.register-title,
.reset-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: #66bb48;
}

.login-block,
.register-block,
.reset-block {
  margin-top: 20px;
  position: relative;
}

.login-page #username .icon,
.register-block .icon,
.reset-block .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.login-page #password .icon {
  position: absolute;
  top: calc(
    30%
  ); /* Set different top to the password icon to make it look better on the screen*/
  left: 10px;
}

.login-block label,
.register-block label,
.reset-block label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-block input[type="text"],
.login-block input[type="password"],
.register-block input[type="text"],
.register-block input[type="password"],
.register-block input[type="email"],
.reset-block input[type="text"],
.reset-block input[type="password"],
.reset-block input[type="email"] {
  width: 100%;
  padding: 8px;
  padding-left: 35px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-block input[type="text"]:focus,
.login-block input[type="password"]:focus,
.register-block input[type="text"]:focus,
.register-block input[type="password"]:focus,
.register-block input[type="email"]:focus,
.reset-block input[type="text"]:focus,
.reset-block input[type="password"]:focus,
.reset-block input[type="email"]:focus {
  border-color: #3498db;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #76cefd;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

input[type="submit"]:hover {
  background-color: #5b72e6;
}

.login-block.remember-reset.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-block span {
  font-size: 16px;
  width: 32%;
  margin-left: 5px;
}

.login-block h6 {
  font-size: 16px;
  float: right;
  width: 37%;
  letter-spacing: 1px;
  margin-top: 8px;
}

.login-block h6 a {
  color: #007bff;
  text-decoration: none;
}

.login-block p {
  font-size: 17px;
}

.login-block p a {
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px;
}

.login-block h6 a:hover,
.login-block p a:hover {
  text-decoration: underline;
}

/* Styles for verify part */
#verify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#verify button {
  width: 20%;
  padding: 8px;
  background-color: #66bb48;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 12px;
}

#verify button:hover {
  background-color: #5b72e6;
}

#verify-wrap {
  display: flex;
  align-items: right;
  width: 50%;
}

#verify-wrap label {
  margin-top: 10px;
  font-size: 14px;
  min-width: 130px;
  color: #007bff;
}

#verify-wrap input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#verify-wrap input[type="text"]:focus {
  border-color: #3498db;
}

.username-message,
.password-message,
.verify-message {
  color: red;
  font-size: 15px;
  display: none;
}

#register-username-list,
#reset-username-list {
  display: none;
}

/* 3. Mobile setting */
/*--responsive--*/
@media (max-width: 820px) {
  .login-page,
  .register-page,
  .reset-page {
    background-repeat: repeat-y;
  }
}

@media (max-width: 680px) {
  .login-part,
  .register-part {
    width: 90%;
  }

  .login-block input[type="text"],
  .login-block input[type="password"],
  .register-block input[type="text"],
  .register-block input[type="password"],
  .register-block input[type="email"] {
    font-size: 10.5px;
  }

  .login-block span#remember-me,
  .login-block h6,
  .login-block p,
  .login-block p a {
    font-size: 14px;
  }

  #verify-wrap {
    width: 60%;
  }

  #verify-wrap label {
    min-width: 95px;
    font-size: 10px;
  }
}
/*--responsive end--*/

/*===================================*/
/* The chat.html
---------------------------------------
1. Basic setting
2. Chat left part
3. Chat middle part
4. Chat right part
5. Mobile setting 
*/

/* 1. Basic setting */
.chat-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--app-bg);
  --app-bg: #fff;
  --box-color: #f5f8fc;
  --box-border: #e7edf5;
  --tab-color: #c8ebfc;
  --tab-move: #c4b3f8;
  --tab-select: #97b6f9;
  --text-dark: #5c4536;
  --button-color: #a6e8f7;
  --border-light: #8187a2;
  --chat-input: #f5f8fc;
  --text-dark: #1a2f45;
  --text-light: #445e78;
  --que-ans: #72c0ff;
  --que-ans-time: #868686;
  --send-button: #0062ff;
  --send-button-hover: #f100fd;
  --check-in: #5f94f5;
  --check-in-select: #1485ff;
}

.chat-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 24px;
  max-width: 1800px;
}

/* 2. Chat left part */
.chat-left {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  overflow-y: auto;
}

.chat-left-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--app-bg);
}
.chat-left-header h1 {
  margin: 0;
  font-size: 20px;
  margin-left: 12px;
}

.chat-left-header .app-logo {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  border-radius: 50%;
}

.chat-left-header .app-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* tab part*/
.dog-tab-parent .tab_header {
  display: flex;
  flex-wrap: wrap; /* Allow the tabs to wrap into multiple rows */
  margin-bottom: 1rem;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 85px;
}

.dog-tab-parent .tab_header .tab {
  position: relative;
  flex-grow: 1;
  text-align: center;
  width: 30%; /* Set the width of the tab to occupy half the container width */
}
.dog-tab-parent .tab_header input {
  position: absolute;
  left: 0;
  z-index: -1;
}
.dog-tab-parent .tab_header label {
  display: block;
  padding: 10px;
  background-color: var(--tab-color);
  cursor: pointer;
  font-weight: bold;
}
.dog-tab-parent .tab_header input:not(:checked) + label:hover {
  background-color: var(--tab-move);
}
.dog-tab-parent .tab_header input:checked + label {
  background-color: var(--tab-select);
}

.dog-tab-parent .tab_header .tab:nth-child(1) label {
  border-radius: 5px 0 0 0;
}

.dog-tab-parent .tab_header .tab:nth-child(3) label {
  border-radius: 0 5px 0 0;
}

.dog-tab-parent .tab_header .tab:nth-child(4) label {
  border-radius: 0 0 0 5px;
}

.dog-tab-parent .tab_header .tab:nth-child(6) label {
  border-radius: 0 0 5px 0;
}

.dog-tab-parent .tab_content {
  margin: auto;
  display: none;
  position: relative;
  overflow: hidden;
}

.dog-tab-parent .tab_content.visible {
  display: block;
}

/* tab part end*/

.dog-profile-box {
  border: 1px solid var(--box-border);
  background-color: var(--box-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.dog-profile-box img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 1px solid var(--box-border);
}

.dog-profile-box h2 {
  font-size: 26px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-dark);
  margin: 4px 0;
  display: flex;
  align-items: center;
}

.dog-profile-box button {
  padding: 12px;
  width: 180px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: var(--tab-select);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dog-profile-box button:hover {
  background-color: var(
    --tab-move
  ); /* Choose a slightly darker color for hover */
  transform: scale(1.1); /* Slightly increase the button size on hover */
}

.dog-info {
  font-size: 14px;
  margin-top: 10px;
}

.dog-info .info-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.dog-info .info-label {
  font-weight: 600;
  color: #000000;
  margin-right: 5px;
}

.dog-info .dog-age,
.dog-info .dog-breed {
  font-weight: 500;
  color: #595656;
}

.dog-info .dog-characteristics {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.dog-info .dog-characteristics li {
  padding: 2px 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: #f1f1f1;
  border-radius: 3px;
  font-size: 12px;
}

/* 3. Chat middle part */
.chat-wrapper {
  background-color: var(--box-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-input-wrapper {
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}

#mainchat {
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 600px;
  width: 600px;
}

#mainchat div {
  clear: both;
}

.chat-wrapper .Que {
  align-self: flex-end;
  margin-right: 10px;
  padding: 8px 12px;
  background-color: var(--que-ans);
  color: #fff;
  border-radius: 15px;
  max-width: 80%;
  word-wrap: break-word;
  float: right;
}

.chat-wrapper .Ans {
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 10px;
  padding: 8px 12px;
  background-color: var(--que-ans);
  color: #fff;
  border-radius: 15px;
  max-width: 80%;
  word-wrap: break-word;
  float: left;
}

.chat-wrapper .qtime {
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
  color: var(--que-ans-time);
  font-size: 10px;
  float: right;
}

.chat-wrapper .atime {
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
  color: var(--que-ans-time);
  font-size: 10px;
  float: left;
}

.chat-wrapper #insert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
}

.chat-wrapper .chat-send-btn {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--send-button);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.chat-send-btn:hover {
  background-color: var(--send-button-hover);
}

.chat-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  margin-top: auto;
  border-radius: 6px;
  padding: 12px;
  background-color: var(--chat-input);
}

.input-wrapper {
  border: 1px solid var(--border-light);
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 0 6px 0 12px;
  justify-content: space-between;
  margin: 0 8px;
  background-color: var(--chat-input);
}

.chat-input {
  border: none;
  outline: none;
  height: 32px;
  flex: 1;
  margin-right: 4px;
  background-color: var(--chat-input);
  color: var(--text-dark);
}

.chat-input:placeholder {
  color: var(--text-light);
  font-size: 12px;
}

/* 4. Chat right part */
.chat-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.app-login-record {
  margin: 0 auto;
  border: 2px solid var(--check-in);
  border-radius: 30px;
  overflow: hidden; /* To hide overflowing child elements */
  height: 480px; /* Set height to 480px */
}

/* Styles for the login record Top part */
.top {
  width: 100%;
  height: 150px;
  background: var(--check-in);
  margin-bottom: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.top .out-1 {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px auto;
}

.top .out-1 .out-2 {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top .out-1 .out-2 .signBtn {
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 1px #7ebdff solid;
}

.top .out-1 .out-2 .signBtn strong,
.top .out-1 .out-2 .signBtn span {
  display: block;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  color: #007aff;
}

.top .out-1 .out-2 .signBtn strong {
  height: 4rem;
  line-height: 5rem;
  font-weight: 600;
  border-bottom: 1px #eee solid;
}

.top .out-1 .out-2 .signBtn span {
  height: 3rem;
  line-height: 3rem;
  font-size: 10px;
  line-height: 2rem !important;
}

.top .out-1:active {
  animation: sign 0.25s forwards;
  -webkit-animation: sign 0.25s forwards;
}

#signIn {
  margin-bottom: 10px;
}

#sign-txt {
  font-size: 18px;
  font-weight: bold;
}

#sign-count {
  font-size: 14px;
  font-weight: normal;
}

.tips {
  width: 100%;
  text-align: center;
  color: #ff00bb;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
  margin-bottom: 10px;
}

/* Styles for the login record Top part end */

/* Styles for the login record Calendar part */
.Calendar {
  background: #fff;
  padding-bottom: 16px;
}

.Calendar #toyear {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px #e7e7e7 solid;
  width: 96%;
  text-align: center;
  color: #333;
  font-size: 16px;
}

.Calendar #toyear .year-month {
  height: 100%;
  line-height: 24px;
}
.Calendar #toyear #idCalendarPre,
.Calendar #toyear #idCalendarNext {
  height: 100%;
  line-height: 20px;
  padding: 0 32px;
  text-align: center;
  font-size: 16px;
  color: #999;
}
.Calendar table,
.Calendar tr,
.Calendar td {
  border: 0;
}
.Calendar table {
  width: 95%;
  margin: 0 auto;
}
.Calendar table tr {
  text-align: center;
  height: 35px;
}
.Calendar table tr td span {
  margin: 0 auto;
  display: block;
  line-height: 26px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  border-radius: 100%;
}
.Calendar table tr .onToday span {
  background: var(--check-in-select);
  color: #fff;
}
/* Styles for the login record  Calendar part end */

.app-right-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan p {
  border: 2px solid var(--check-in);
  background-color: var(--check-in);
  border-radius: 40px;
  padding: 60px;
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
  transition: all 0.3s ease;
  height: 100%;
}
.slogan {
  width: 100%;
  height: 166px;
}

.guess-game {
  text-align: center;
  border: 2px solid var(--check-in);
  border-radius: 30px;
  padding: 25px;
  margin-top: 15px;
  text-align: center;
  height: 166px;
  width: 100%;
  display: none;
}

.guess-game h6 {
  color: #3150ed;
  font-weight: bold;
}

.guess-game p {
  color: #007aff;
  margin-bottom: 5px;
  font-size: 14px;
}

.guess-game #guessInput {
  padding: 5px;
  font-size: 14px;
  border: 2px solid var(--check-in);
  border-radius: 10px;
}

.guess-game #guessButton {
  padding: 5px 5px;
  background-color: var(--send-button);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.guess-game #guessButton:hover {
  background-color: var(--send-button-hover);
}

.resultMessage {
  padding-top: 5px;
  font-size: 16px;
}

/*chat right part end*/

/* 5. Mobile setting */
/*--responsive--*/
@media screen and (max-width: 820px) {
  .chat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .chat-left,
  .chat-right {
    flex-basis: calc(50% - 30px); 
    max-width: calc(50% - 30px); 
    box-sizing: border-box;
    order: 1;
    margin: 15px;
  }

  .chat-middle {
    flex-basis: 100%;
    max-width: 90%;
    order: 2;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 390px) {
   .customer-header{
    margin-left: 80px;
    max-width: 75%;

   }

  .chat-container {
   display: block;
   flex-wrap: nowrap;
   flex-direction: column;
   align-items: center;
   margin-left: 80px;
  }

  #mainchat {
    width: 300px;
    height: 500px;
  } 
  
  .chat-left{
    margin-top: 50px;
    max-width: 300px;
  }

  .chat-middle{
    margin-left: 15px;
    max-width: 300px;
  }

  .chat-right .app-login-record, .chat-right .guess-game  {
    width: 300px;
  }
  .chat-right .guess-game {
    min-width:300px;
    margin-left: 80px;
    margin-bottom: 30px;
  }



}


/*
@media screen and (max-width: 680px) {
  .chat-container {
    flex-direction: column;
    padding: 30px;
    margin-left: 10px;
    margin-right: 10px;
    width: 85%;
    flex-wrap: nowrap;
  }

  .chat-left,
  .chat-middle,
  .chat-right {
    width: 100%;
    box-sizing: border-box;
    margin: 15px; 
  }

  #mainchat {
    width: 300px;
    height: 500px;
  }

  .guess-game{
    margin-bottom: 50px;
  }
}
*/
/*--responsive end--*/

/*===================================*/
/* The history.html file
---------------------------------------
1. Basic setting
2. Search part
3. Mobile setting 
*/

/* 1. Basic setting */
.history-page {
  padding-top: 15px;
  background-image: url(images/dog_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  --send-button: #0062ff;
  --send-button-hover: #f100fd;
}

.history-container {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 50px;
}

/* 2. Search part */
.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input input,
.search-input select {
  width: 30%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-input button {
  background-color: var(--send-button);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-input button:hover {
  background-color: var(--send-button-hover);
}

#search-result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 600px; /* Set the height */
  overflow: auto; /* Create a scrollbar when the content exceeds the height */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#search-result table {
  width: 100%;
  border-collapse: collapse;
}

#search-result th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #5c7aea;
  color: white;
  font-weight: bold;
}

.table-content td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  background-color: #fbfbfb;
  font-size: 14px;
}

.table-content:nth-child(even) td {
  background-color: #ebebeb;
}

#search-result .date-col {
  width: 8%;
}

#search-result .name-col {
  width: 6%;
}

#search-result .content-col {
  width: 86%;
}

#dog-gif {
  height: 360px;
  width: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

#history-note {
  height: 360px;
  width: auto;
  display: block;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* 3. Mobile setting */
/*--responsive--*/
@media screen and (max-width: 680px) {
  .history-container {
    margin-top: 80px;
    width: 95%;
  }

  .search-input input,
  .search-input select {
    padding: 5px;
    margin: 5px;
  }

  .search-input input {
    width: 160px;
  }

  #search-result th {
    font-size: 14px;
  }

  .table-content td {
    font-size: 12px;
  }

  #search-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #dog-gif {
    height: 250px;
  }

  #history-note {
    height: 150px;
    margin-left: 0px;
  }
}
/*--responsive end--*/
